/* NavLink.module.css */

.navLink {
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: var(--ink);
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 500;
}

.navLink:not(.active):hover {
  color: var(--accent);
}

.active {
  color: var(--ink-2);
  font-weight: 400;
}